@charset "utf-8";

/* Taylor Gibbs */

/* fonts
font-family: 'IBM Plex Sans', sans-serif;   footer font
font-family: 'Roboto Slab', serif;          header font
font-family: 'Muli', sans-serif;            main font

*/

/* general styles */
html {
    background-color: #3E3D40;
}

body{
    background-color: ivory;
    font-family: 'Muli', sans-serif;
}

h1,h2,h3{
    font-family: 'Roboto Slab', serif;
}

/* top nav menue */
#topNav{
    background-color: darkgray;
}

#topNav>li:hover{
    background-color: lightgrey;
}

#topNav a,#topNav a:active,#topNav a:visited,#topNav a:focus,#topNav a:hover{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

/* main body */


#statTitle>p{
    font-size: .8em;
}

[id^="main"] img{
    border: 1px solid gray;
}

/* footer */
footer{
    background-color: darkgray;
}

footer>p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: .5cm;
}
